@import url(https://fonts.googleapis.com/css?family=Roboto:700,400);
.group--header:after, .rule--header:after, .rule--body:after {
    content: "";
    display: table;
    clear: both;
}

*, *::before, *::after {
    box-sizing: border-box;
}

.people-filter-modal {
    width: 1024px;
    border-radius: 0;
}

.people-filter-modal .modal-body {
    padding: 0;
}

.people-filter-modal .modal-header {
    min-height: 15px;
    padding: 10px;
    background-color: #f7f7f7;
    text-align: left;
    height: 50px;
}

.people-filter-modal .modal-header h4.modal-title {
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    color: #000000;
}

.people-filter-modal .modal-header .close {
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    color: #000000;
}

/******************************************************************************/
/** COMMON ********************************************************************/
/******************************************************************************/
.query-builder, .query-preview {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 1.25;
    margin: 12px;
}

.query-preview {
    font-size: 14px;
    background: rgba(250, 240, 210, 0.5);
    border: 1px solid #DCC896;
    min-height: 1rem;
    display: block;
    padding: 1rem;
}

.group:first-child {
    background-color: #FFFFFF;
}

.group:first-child .rule {
    background-color: #f7f7f7;
}

.group .group {
    background-color: #f7f7f7;
}

.group .group .rule {
    background-color: #FFFFFF;
}

.group, .rule {
    margin-top: 10px;
    padding: 10px;
    position: relative;
}

/******************************************************************************/
/** GROUP *********************************************************************/
/******************************************************************************/
.group--children {
    margin-left: 20px;
}

.group--children > .rule:last-child::before, .group--children > .group:last-child::before {
    bottom: 50%;
}

.group--children > .rule::before, .group--children > .rule::after, .group--children > .group::before, .group--children > .group::after {
    content: '';
    display: block;
    position: absolute;
    left: -13px;
    background-color: gray;
}

.group--children > .rule::before, .group--children > .group::before {
    width: 2px;
    top: -20px;
    bottom: -1px;
}

.group--children > .rule::after, .group--children > .group::after {
    top: 50%;
    height: 2px;
    width: 13px;
}

.group--children .group--header .action {
    background-color: transparent;
    color: #0099ff;
    border: none;
    width: 100px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    padding: 0;
}

.group--children .group--header .action.action--ADD-RULE {
    margin-right: 30px;
}

.group--children .group--header .action.action--ADD-GROUP {
    width: 112px;
    margin-right: 30px;
}

.group--children .group--header .action.action--DELETE {
    color: #ff0000;
    width: 60px;
    font-weight: 400;
}

.group--header .action {
    width: 255px;
    height: 45px;
    background-color: #33CC33;
    border-color: #33CC33;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    border-radius: 1px;
}

.group--header .action.action--ADD-RULE {
    margin-right: 22px;
}

.group--conjunctions {
    float: left;
}

.group--actions {
    float: right;
}

/******************************************************************************/
/** RULE **********************************************************************/
/******************************************************************************/
.rule--header {
    float: right;
}

.rule--body select, .rule--body input {
    border: none;
    background: none;
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    width: 230px;
    border-bottom: 2px;
    border-bottom-color: #999999;
    border-bottom-style: solid;
    padding-bottom: 5px;
    margin-left: 24px;
}

.rule--body .checkbox label {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}

.rule--body input[type=radio] {
    width: 20px;
}

.rule--body select:focus, .rule--body input:focus {
    outline: 0;
}

.rule--field, .rule--operator, .rule--options, .rule--widget {
    display: inline-block;
    margin-right: 10px;
}

.rule--field label, .rule--operator label {
    display: block;
    font-weight: bold;
}

/******************************************************************************/
/** CONJUNCTION ***************************************************************/
/******************************************************************************/
.conjunction {
    display: inline-block;
}

.conjunction label {
    display: inline-block;
    border: 1px solid;
    cursor: pointer;
    color: white;
    text-transform: uppercase;
    padding: 0.2rem 0.4rem;
    width: 70px;
    height: 35px;
}

.conjunction input {
    display: none;
}

.conjunction[data-state="active"] label {
    background-color: #e0e0e0;
    border-color: #999999;
    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    text-align: center;
}

.conjunction[data-state="inactive"] label {
    background-color: #FFFFFF;
    border-color: #999999;
    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
}

.conjunction:first-child label {
    border-radius: 3px 0 0 3px;
}

.conjunction:last-child label {
    border-radius: 0 3px 3px 0;
}

.conjunction:first-child:last-child {
    border-radius: 3px;
}

/******************************************************************************/
/** ACTION ********************************************************************/
/******************************************************************************/
.action {
    display: inline-block;
    background-color: #5cb85c;
    border: 1px solid #4cae4c;
    cursor: pointer;
    color: white;
    padding: 0.2rem 0.4rem;
    text-decoration: none;
}

.action:first-child {
    border-radius: 3px 0 0 3px;
    border-left-width: 1px;
}

.action:last-child {
    border-radius: 0 3px 3px 0;
}

.action:first-child:last-child {
    border-radius: 3px;
}

.action--DELETE {
    color: #ff0000;
    width: 60px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-style: normal;
    background: none;
    border: none;
}

.buttons-menu {
    text-align: center;
    margin-bottom: 25px;
}

.buttons-menu .btn {
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-style: normal;
    border-radius: 1px;
}

.buttons-menu .btn.btn-danger {
    margin-right: 22px;
    font-weight: 400;
}

.buttons-menu .btn.btn-success {
    background-color: #33CC33;
    border-color: #33CC33;
    width: 230px;
    font-weight: 700;
}

